.flexitems {
    height: 100px;
    width: 100px;
    background-color: blue;
    /* margin: 10px; */
}

.container {
    display: flex;
}

.container>a {
    width: max-content;
    display: flex;
    justify-content: space-evenly;
}

body {
    margin: 0;
}

.logo {
    width: 15vw;
    
}

.banner {

    width: 90%;
    background-color: rgb(241, 157, 12);
}

nav > a {
    height: 20px;
    width: 30px;
    margin: 20px;
  }
